@import 'mixins/mixins';
@import 'mixins/var';
@import 'common/var';

@include b(footer) {
  @include set-component-css-var('footer', $--footer);

  padding: var(--lx-footer-padding);
  box-sizing: border-box;
  flex-shrink: 0;
  height: var(--lx-footer-height);
}
