@use "sass:map";
@use "sass:math";

/* Color
-------------------------- */
$--color-primary: #409EFF !default;
$--color-white: #FFFFFF !default;
$--color-black: #000000 !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */
$--color-success: #67C23A !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;
$--color-info: #909399 !default;
$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;
$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #C0C4CC !default;
$--border-color-base: #DCDFE6 !default;
$--border-color-light: #E4E7ED !default;
$--border-color-lighter: #EBEEF5 !default;
$--border-color-extra-light: #F2F6FC !default;

// Background
$--background-color-base: #F5F7FA !default;

/* Link
-------------------------- */
$--link-color: $--color-primary-light-2 !default;
$--link-hover-color: $--color-primary !default;

// Box-shadow
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* Typography
-------------------------- */
$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;
$--font-size-extra-large: 20px !default;
$--font-size-large: 18px !default;
$--font-size-medium: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 13px !default;
$--font-size-extra-small: 12px !default;
$--font-weight-primary: 500 !default;
$--font-weight-secondary: 100 !default;
$--font-line-height-primary: 24px !default;
$--font-line-height-secondary: 16px !default;
$--font-color-disabled-base: #bbb !default;

/* Size
-------------------------- */
$--size-base: 14px !default;

/* z-index
-------------------------- */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* Disable base
-------------------------- */
$--disabled-fill-base: $--background-color-base !default;
$--disabled-color-base: $--color-text-placeholder !default;
$--disabled-border-base: $--border-color-light !default;

/* Icon
-------------------------- */
$--icon-color: #666 !default;
$--icon-color-base: $--color-info !default;

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;
$--border-radius-zero: 0 !default;

/* Button
-------------------------- */
// $--button-font-size: $--font-size-base !default;
$--button-font-weight: $--font-weight-primary !default;
// $--button-border-radius: $--border-radius-base !default;
// $--button-padding-vertical: 12px !default;
// $--button-padding-horizontal: 20px !default;

$--button-medium-font-size: $--font-size-base !default;
$--button-medium-border-radius: $--border-radius-base !default;
$--button-medium-padding-vertical: 10px !default;
$--button-medium-padding-horizontal: 20px !default;

$--button-small-font-size: 12px !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
$--button-small-padding-vertical: 9px !default;
$--button-small-padding-horizontal: 15px !default;
$--button-mini-font-size: 12px !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
$--button-mini-padding-vertical: 7px !default;
$--button-mini-padding-horizontal: 15px !default;

$--button-default-font-color: $--color-text-regular !default;
$--button-default-background-color: $--color-white !default;
$--button-default-border-color: $--border-color-base !default;
$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-disabled-background-color: $--color-white !default;
$--button-disabled-border-color: $--border-color-lighter !default;
$--button-primary-border-color: $--color-primary !default;
$--button-primary-font-color: $--color-white !default;
$--button-primary-background-color: $--color-primary !default;
$--button-success-border-color: $--color-success !default;
$--button-success-font-color: $--color-white !default;
$--button-success-background-color: $--color-success !default;
$--button-warning-border-color: $--color-warning !default;
$--button-warning-font-color: $--color-white !default;
$--button-warning-background-color: $--color-warning !default;
$--button-danger-border-color: $--color-danger !default;
$--button-danger-font-color: $--color-white !default;
$--button-danger-background-color: $--color-danger !default;
$--button-info-border-color: $--color-info !default;
$--button-info-font-color: $--color-white !default;
$--button-info-background-color: $--color-info !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

// types
$--types: primary, success, warning, danger, error, info;

/* Color
-------------------------- */
$--colors: () !default;
$--colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #409eff,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $--colors
);

$--color-white: map.get($--colors, 'white') !default;
$--color-black: map.get($--colors, 'black') !default;
$--color-primary: map.get($--colors, 'primary', 'base') !default;
$--color-success: map.get($--colors, 'success', 'base') !default;
$--color-warning: map.get($--colors, 'warning', 'base') !default;
$--color-danger: map.get($--colors, 'danger', 'base') !default;
$--color-error: map.get($--colors, 'error', 'base') !default;
$--color-info: map.get($--colors, 'info', 'base') !default;

// https://sass-lang.com/documentation/values/maps#immutability
@mixin set-color-type-light($type, $number) {
  $--colors: map.deep-merge(
    (
      $type: (
        'light-#{$number}':
          mix(
            $--color-white,
            map.get($--colors, $type, 'base'),
            math.percentage(math.div($number, 10))
          ),
      ),
    ),
    $--colors
  ) !global;
}

// $--colors.primary.light-i
// --lx-color-primary-light-i
// 10% 53a8ff
// 20% 66b1ff
// 30% 79bbff
// 40% 8cc5ff
// 50% a0cfff
// 60% b3d8ff
// 70% c6e2ff
// 80% d9ecff
// 90% ecf5ff
@for $i from 1 through 9 {
  @each $type in $--types {
    @include set-color-type-light($type, $i);
  }
};

$--text-color: () !default;
$--text-color: map.merge(
  (
    'primary': #303133,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #c0c4cc,
  ),
  $--text-color
);

$--border-color: () !default;
$--border-color: map.merge(
  (
    'base': #dcdfe6,
    'light': #e4e7ed,
    'lighter': #ebeef5,
    'extra-light': #f2f6fc,
  ),
  $--border-color
);

/* Typography
-------------------------- */
$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;

$--font-size: () !default;
$--font-size: map.merge(
  (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 13px,
    'extra-small': 12px,
  ),
  $--font-size
);

/* Link
--------------------------*/
// css3 var in packages/theme-chalk/src/link.scss
$--link: () !default;
$--link: map.merge(
  (
    'font-size': var(--lx-font-size-base),
    'font-weight': var(--lx-font-weight-primary),
    'default-font-color': var(--lx-text-color-regular),
    'default-active-color': var(--lx-color-primary),
    'disabled-font-color': var(--lx-text-color-placeholder),
  ),
  $--link
);

$--link-font-color: () !default;

@each $type in $--types {
  $--link-font-color: map.merge(
    $--link-font-color,
    (
      $type: map.get($--colors, $type, 'base'),
    )
  ) !global;
}

// header
$--header: () !default;
$--header: map.merge(
  (
    'padding': 0 20px,
    'height': 60px,
  ),
  $--header
);
// main
$--main: () !default;
$--main: map.merge(
  (
    'padding': 20px,
  ),
  $--main
);
// footer
$--footer: () !default;
$--footer: map.merge(
  (
    'padding': 0 20px,
    'height': 60px,
  ),
  $--footer
);

/* Input
-------------------------- */
// css3 var in packages/theme-chalk/src/input.scss
$--input: () !default;
$--input: map.merge(
  (
    'font-color': var(--lx-text-color-regular),
    'border': var(--lx-border-base),
    'border-color': var(--lx-border-color-base),
    'border-radius': var(--lx-border-radius-base),
    'background-color': var(--lx-color-white),
    'icon-color': var(--lx-text-color-placeholder),
    'placeholder-color': var(--lx-text-color-placeholder),
    'hover-border': var(--lx-border-color-hover),
    'clear-hover-color': var(--lx-text-color-secondary),
    'focus-border': var(--lx-color-primary),
  ),
  $--input
);

$--input-disabled: () !default;
$--input-disabled: map.merge(
  (
    'fill': var(--lx-disabled-fill-base),
    'border': var(--lx-disabled-border-base),
    'color': var(--lx-disabled-color-base),
    'placeholder-color': var(--lx-text-color-placeholder),
  ),
  $--input-disabled
);

$--input-font-size: () !default;
$--input-font-size: map.merge(
  (
    'default': var(--lx-font-size-base, map.get($--font-size, 'base')),
    'medium': 14px,
    'small': 13px,
    'mini': 12px,
  ),
  $--input-font-size
);

$--input-height: () !default;
$--input-height: map.merge(
  (
    'default': 40px,
    'medium': 36px,
    'small': 32px,
    'mini': 28px,
  ),
  $--input-height
);

$--input-line-height: () !default;
$--input-line-height: map.merge(
  (
    'medium': 28px,
    'small': 24px,
    'mini': 20px,
  ),
  $--input-line-height
);

$--input-number-width: () !default;
$--input-number-width: map.merge(
  (
    'medium': 200px,
    'small': 130px,
    'mini': 130px,
  ),
  $--input-number-width
);

/* Button
-------------------------- */
// css3 var in packages/theme-chalk/src/button.scss
$--button: () !default;
$--button: map.merge(
  (
    'font-weight': var(--lx-font-weight-primary),
    'border-color': var(--lx-border-color-base),
    'background-color': var(--lx-color-white),
    'font-color': var(--lx-text-color-regular),
    'disabled-font-color': var(--lx-text-color-placeholder),
    'disabled-background-color': var(--lx-color-white),
    'disabled-border-color': var(--lx-border-color-light),
    'divide-border-color': rgba($--color-white, 0.5),
  ),
  $--button
);

// need mix, so do not use css var
$--button-hover-tint-percent: 20%;
$--button-active-shade-percent: 10%;

$--button-border-color: () !default;
$--button-background-color: () !default;
$--button-font-color: () !default;

@each $type in $--types {
  $--button-border-color: map.merge(
    (
      $type: map.get($--colors, $type, 'base'),
    ),
    $--button-border-color
  ) !global;

  $--button-background-color: map.merge(
    (
      $type: map.get($--colors, $type, 'base'),
    ),
    $--button-background-color
  ) !global;

  $--button-font-color: map.merge(
    (
      $type: map.get($--colors, 'white'),
    ),
    $--button-font-color
  ) !global;
}

$--button-font-size: () !default;
$--button-font-size: map.merge(
  (
    'default': var(--lx-font-size-base, map.get($--font-size, 'base')),
    'medium': var(--lx-font-size-base, map.get($--font-size, 'base')),
    'small': 12px,
    'mini': 12px,
  ),
  $--button-font-size
);

$--button-border-radius: () !default;
$--button-border-radius: map.merge(
  (
    'default': var(--lx-border-radius-base),
    'medium': var(--lx-border-radius-base),
    'small': calc(var(--lx-border-radius-base) - 1px),
    'mini': calc(var(--lx-border-radius-base) - 1px),
  ),
  $--button-border-radius
);

$--button-padding-vertical: () !default;
$--button-padding-vertical: map.merge(
  (
    'default': 12px,
    'medium': 10px,
    'small': 9px,
    'mini': 7px,
  ),
  $--button-padding-vertical
);

$--button-padding-horizontal: () !default;
$--button-padding-horizontal: map.merge(
  (
    'default': 20px,
    'medium': 20px,
    'small': 15px,
    'mini': 15px,
  ),
  $--button-padding-horizontal
);

/* Tree
-------------------------- */
// css3 var in packages/theme-chalk/src/tree.scss
$--tree: () !default;
$--tree: map.merge(
  (
    'node-hover-background-color': var(--lx-background-color-base),
    'font-color': var(--lx-text-color-regular),
    'expand-icon-color': var(--lx-text-color-placeholder),
  ),
  $--tree
);

/* Checkbox
-------------------------- */
// css3 var in packages/theme-chalk/src/checkbox.scss
$--checkbox: () !default;
$--checkbox: map.merge(
  (
    'font-size': 14px,
    'font-weight': var(--lx-font-weight-primary),
    'font-color': var(--lx-text-color-regular),
    'input-height': 14px,
    'input-width': 14px,
    'border-radius': var(--lx-border-radius-small),
    'background-color': var(--lx-color-white),
    'input-border': var(--lx-border-base),
    'disabled-border-color': var(--lx-border-color-base),
    'disabled-input-fill': #edf2fc,
    'disabled-icon-color': var(--lx-text-color-placeholder),
    'disabled-checked-input-fill': var(--lx-border-color-extra-light),
    'disabled-checked-input-border-color': var(--lx-border-color-base),
    'disabled-checked-icon-color': var(--lx-text-color-placeholder),
    'checked-font-color': var(--lx-color-primary),
    'checked-input-border-color': var(--lx-color-primary),
    'checked-background-color': var(--lx-color-primary),
    'checked-icon-color': var(--lx-fill-base),
    'input-border-color-hover': var(--lx-color-primary),
  ),
  $--checkbox
);

$--checkbox-button: () !default;
$--checkbox-button: map.merge(
  (
    'checked-background-color': var(--lx-color-primary),
    'checked-font-color': var(--lx-color-white),
    'checked-border-color': var(--lx-color-primary),
  ),
  $--checkbox-button
);

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);