@import '@lixi/style/src/mixins/mixins';
@import '@lixi/style/src/mixins/var';
@import '@lixi/style/src/common/var';
@import './timeline-item.scss';

@include b(timeline) {
  @include set-component-css-var('timeline', $--timeline);
}

@include b(timeline) {
  margin: 0;
  font-size: var(--lx-font-size-base);
  list-style: none;

  & .#{$namespace}-timeline-item:last-child {
    & .#{$namespace}-timeline-item__tail {
      display: none;
    }
  }
}
