@import "../../../style/src/common/var";
@import "../../../style/src/mixins/mixins";
@import "../../../style/src/mixins/_var";

@include b(aside) {
  --lx-aside-width: 300px;

  overflow: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  width: var(--lx-aside-width);
}
