@import "../../../style/src/common/var";
@import "../../../style/src/mixins/mixins";
@import "../../../style/src/mixins/_var";

@include b(footer) {
  @include set-component-css-var('footer', $--footer);

  padding: var(--lx-footer-padding);
  box-sizing: border-box;
  flex-shrink: 0;
  height: var(--lx-footer-height);
}
