@use "sass:map";

@import '@lixi/style/src/mixins/mixins';
@import '@lixi/style/src/common/var';

@include b(check-tag) {
  background-color: $--background-color-base;
  border-radius: var(--lx-border-radius-base);
  color: var(--lx-color-info);
  cursor: pointer;
  display: inline-block;
  font-size: var(--lx-font-size-base);
  line-height: var(--lx-font-size-base);
  padding: 7px 15px;
  transition: var(--lx-transition-all);
  font-weight: bold;
  &:hover {
    background-color: rgb(220, 223, 230);
  }

  @include when(checked) {
    background-color: #deedfc;
    color: map.get($--colors, 'primary', 'light-1');
    &:hover {
      background-color: map.get($--colors, 'primary', 'light-7');
    }
  }
}
