@use "sass:map";

@import '../../../style/src/mixins/mixins';
@import '../../../style/src/common/var';
@import '../../../style/src/mixins/_var';

@include b(link) {
  @include set-component-css-var('link', $--link);
}

@include b(link) {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: var(--lx-link-font-size);
  font-weight: var(--lx-link-font-weight);

  @include when(underline) {
    &:hover:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 1px solid var(--lx-link-default-active-color);
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
  }

  & [class*='#{$namespace}-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }

  &.#{$namespace}-link--default {
    color: var(--lx-link-default-font-color);

    &:hover {
      color: var(--lx-link-default-active-color);
    }

    &:after {
      border-color: var(--lx-link-default-active-color);
    }

    @include when(disabled) {
      color: var(--lx-link-disabled-font-color);
    }
  }

  @each $type in $--types {
    &.#{$namespace}-link--#{$type} {
      --lx-link-font-color: var(--lx-color-#{$type});
      color: var(--lx-link-font-color);

      &:hover {
        color: mix(map.get($--link-font-color, $type), $--color-white, 80%);
      }

      &:after {
        border-color: var(--lx-link-font-color);
      }

      @include when(disabled) {
        color: mix(map.get($--link-font-color, $type), $--color-white, 50%);
      }
      @include when(underline) {
        &:hover:after {
          border-color: var(--lx-link-font-color);
        }
      }
    }
  }
}

.lx-link+.lx-link{
  padding-left: 10px;
}
