@use "sass:map";

@import '@lixi/style/src/mixins/mixins';
@import '@lixi/style/src/mixins/var';
@import '@lixi/style/src/common/var';

$positions: top, bottom, left, right;

$positionMap: (
  'top': 'bottom',
  'bottom': 'top',
  'left': 'right',
  'right': 'left',
);

@include b(tooltip) {
  @include set-component-css-var('tooltip', $--tooltip);
}

@include b(tooltip) {
  &:focus:not(.focusing),
  &:focus:hover {
    outline-width: 0;
  }
  @include e(popper) {
    position: absolute;
    border-radius: 4px;
    padding: var(--lx-tooltip-padding);
    z-index: var(--lx-index-popper);
    font-size: var(--lx-tooltip-font-size);
    line-height: 1.2;
    min-width: 10px;
    word-wrap: break-word;

    .popper__arrow,
    .popper__arrow::after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }

    .popper__arrow {
      border-width: var(--lx-tooltip-arrow-size);
    }

    .popper__arrow::after {
      content: ' ';
      border-width: 5px;
    }

    @each $position in $positions {
      &[x-placement^='#{$position}'] {
        margin-#{map.get($positionMap, $position)}: calc(
          var(--lx-tooltip-arrow-size) + 6px
        );
      }

      &[x-placement^='#{$position}'] .popper__arrow {
        #{map.get($positionMap, $position)}: calc(
          0px - var(--lx-tooltip-arrow-size)
        );
        border-#{$position}-color: var(--lx-tooltip-border-color);
        border-#{map.get($positionMap, $position)}-width: 0;

        &::after {
          #{map.get($positionMap, $position)}: 1px;
          border-#{$position}-color: var(--lx-tooltip-fill);
          border-#{map.get($positionMap, $position)}-width: 0;
        }
      }
    }

    @include when(dark) {
      background: var(--lx-tooltip-fill);
      color: var(--lx-tooltip-color);
    }

    @include when(light) {
      background: var(--lx-tooltip-color);
      border: 1px solid var(--lx-tooltip-fill);

      @each $position in $positions {
        &[x-placement^='#{$position}'] .popper__arrow {
          border-top-color: var(--lx-tooltip-fill);
          &::after {
            border-top-color: var(--lx-tooltip-color);
          }
        }
      }
    }
  }
}
